-# 従業員一覧ページ
.employee__index
  - @employees.each do |employee|
    .employee__index__employee__name
      = link_to edit_employee_path(employee) do
        =employee.family_name
        =employee.first_name
        