@import "reset";
@import "company";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flash";
@import "employee-form";
@import "header";
@import "companies_index";


*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.form, .year, .month, .day {
  border-radius: 5px;
  outline: none;
  border: solid 3px grey;
  height: 32px;
  &:focus {
    border: solid 3px blue;
  }
}

.form_width {
  width: 200px;
}