.companies__index {
  min-width: 1000px;
  height: calc(100vh - 100px);
  background-color: rgb(245, 243, 243);
  &__center {
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    background-color: $mainwhite;
    &__upper {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__index {
        width: 40%;
        height: calc(20vh - 20px);
        margin: calc(20vh - 20px) 5% calc(10vh - 10px);
        border-radius: 30px;
        background-color: $btn_blue;
        box-shadow: 4px 4px rgba(0,0,0,0.6);
        text-shadow:1px 1px #555;
        &__link {
          text-align: center;
          display: block;
          line-height: calc(20vh - 20px);
          color: #ffffff;
          font-size: 30px;
          letter-spacing: 0.5em;
          font-weight: bold;
        }
      }
      &__registration {
        width: 40%;
        height: calc(20vh - 20px);
        margin: calc(20vh - 20px) 5% calc(10vh - 10px);
        border-radius: 30px;
        background-color: $btn_blue;
        box-shadow: 4px 4px rgba(0,0,0,0.6);
        text-shadow:1px 1px #555;
        &__link {
          text-align: center;
          display: block;
          line-height: calc(20vh - 20px);
          color: #ffffff;
          font-size: 30px;
          letter-spacing: 0.5em;
          font-weight: bold;
        }
      }
    }
    &__lower {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__task {
        width: 40%;
        height: calc(20vh - 20px);
        margin: calc(10vh - 10px) 5% calc(20vh - 20px);
        border-radius: 30px;
        background-color: $btn_blue;
        box-shadow: 4px 4px rgba(0,0,0,0.6);
        text-shadow:1px 1px #555;
        &__link {
          text-align: center;
          display: block;
          line-height: calc(20vh - 20px);
          color: #ffffff;
          font-size: 30px;
          letter-spacing: 0.5em;
          font-weight: bold;
          
        }
      }
      &__e-gov {
        width: 40%;
        height: calc(20vh - 20px);
        margin: calc(10vh - 10px) 5% calc(20vh - 20px);
        border-radius: 30px;
        background-color: $btn_blue;
        box-shadow: 4px 4px rgba(0,0,0,0.6);
        text-shadow:1px 1px #555;
        &__link {
          text-align: center;
          display: block;
          line-height: calc(20vh - 20px);
          color: #ffffff;
          font-size: 30px;
          letter-spacing: 0.5em;
          font-weight: bold;
        }
      }
    }
  }
}